* {
  box-sizing: border-box !important;
  font-family: 'Futura','Microsoft YaHei', 'Arial';
  /*word-break:normal !important;
  word-wrap: normal !important;*/
}
body,
html {
  overflow-x: hidden !important;
}
.layui-laydate .layui-this {
    background-color: #155bbc!important;
    color: #fff!important;
}
.current{
    background-color: rgba(21, 91, 188, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
}
.current .p_title{
  
    color: rgba(255, 255, 255, 1) !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #d7d7d7;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--yx_CTwo);
}

input::-webkit-input-placeholder {
  color:#999;
  font-size:14px;
}
input:-moz-placeholder {
  color:#999;
  font-size:14px;
}
input::-moz-placeholder {
  color:#999;
  font-size:14px;
}
input:-ms-input-placeholder {
  color:#999;
  font-size:14px;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus .p_pagebox .next, .p_pagebox .pre {
  background-color: #060606;
}
.btn-primary{
  color: #fff;
  background-color:#3a3a3a !important;
  border-color: #3a3a3a !important;
  border-radius: 0px;
  width: 100%;
  line-height:30px;
}
.btn-primary:hover{
  color: #fff;
  background-color: #155bbc !important;
  border-color: #155bbc !important;
  border-radius: 0px;
  width: 100%;
  line-height:30px;
}
/*Font_Css*/
:root {
  --yx_FS72: 72px;
  --yx_FS60: 60px;
  --yx_FS54: 54px;
  --yx_FS48: 48px;
  --yx_FS45: 45px;
  --yx_FS42: 42px;
  --yx_FS38: 38px;
  --yx_FS36: 36px;
  --yx_FS30: 30px;
  --yx_FS28: 28px;
  --yx_FS24: 24px;
  --yx_FS22: 22px;
  --yx_FS18: 18px;
  --yx_FS16: 16px;
  --yx_FS14: 14px;
  --yx_Color: #155bbc;
  --yx_CTwo: #253346;
 --yx_Grad: linear-gradient(120deg, #1b3e78, #253346);
}
h2 span {

 
}
h3 span {
  font-size: var(--yx_FS28) !important;
}
h4 span {
  font-size: var(--yx_FS24) !important;
}
h5 span {
  font-size: var(--yx_FS18) !important;
}
h6 span {
  font-size: var(--yx_FS16) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
}
/*end*/
a:active,
a:hover,
a:focus,
a:visited{
  color: #2a2a2a;
  outline: none !important;
  text-decoration: none;
}
a {
  cursor: pointer;
}
i {
  font-style: normal;
}
/*General Style*/
.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.w_grid-000>div>.p_gridbox {
  overflow: visible;
}
.w_grid-000>div>.p_gridbox:before,
.w_grid-000>div>.p_gridbox:after {
  clear: both;
  display: table;
  content: " ";
  min-height: 0px;
}
.p_PromptNoneData .prompt_title .first,
.p_nextBox a:hover {
  color: #000 !important
}
.p_pagebox .next,
.p_pagebox .pre,
.p_page .next:hover,
.p_page .pre:hover,
.p_page .pageNum:hover,
.p_page .pageNum.active {
  background-color: #155bbc !important;
  color: #fff !important;
  border-color: #155bbc !important;
}
.p_pagebox .js_pageBtnDisable,
.p_pagebox .js_pageBtnDisable:hover,
.p_pagebox .js_pageBtnDisable:active {
  background:var(--yx_Color) !important;
  border-color: var(--yx_Color) !important;
  color: #FFFFFF !important;
  cursor: default;
}
.p_ProductDetail img,
.p_NewsDetail img,
.p_contentBox img {
  max-width: 100% !important;
  height: auto !important;
}
.p_content .reset_style {
  line-height: 200% !important;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus .p_pagebox .next,
.p_pagebox .pre {
  background-color: var(--yx_Color);
}
/*end*/
/*yx_Css*/
.yx_Width{
  width:100%;
  padding-left:0px !important;
  padding-right:0px !important;
  max-width:1620px;
  margin-left:auto !important;
  margin-right:auto !important;
}
.yx_Clear:before,
.yx_Clear:after {
  display: table;
  clear: both;
  content: "";
}
.yx_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.yx_flexWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.yx_flexJB {
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.yx_flexJA {
  -webkit-box-pack: justify;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.yx_flexJE {
  -webkit-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.yx_flexJC {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.yx_flexAE {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -moz-align-items: flex-end;
  -webkit-align-items: flex-end;
}
.yx_flexAC {
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.yx_ImgContain,
.yx_ImgCover {
  position: relative;
  height: 0;
  overflow: hidden;
}
.yx_ImgContain img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  transition: all 0.6s;
}
.yx_ImgCover img {
  position: absolute;
  width: 100%;
  height: auto;
 
  transition: all 0.6s;
}
.yx_Title {
  display: block;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.yx_Summary {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.yx_More {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*end*/
/*閸愬懘銆夐崚鍡欒鐎佃壈鍩�*/
.yx_PageNav{
  border-left:1px solid #eee;
}
.yx_PageNav a{
  display: block;
  line-height:var(--yx_FS72);
  color:#222;
  border-right:1px solid #eee;
  padding:0 calc(1vw + 14px);
  transition: all 0.6s ease;
}
.yx_PageNav a:hover{
  background:var(--yx_Color);
  transition:all 0.6s ease;
  color:#fff;
}
.yx_PageNav .yx_Click{
  background:var(--yx_Color) !important;
  color:#fff !important;
}
.p_problemCategory .p_image{
  display:none;
}
.p_categoryBox .p_linkBox.click{
  background:#f5f5f5;
  color:var(--yx_Color);
}
.mouse_bac:hover{
  background:#f5f5f5;
  color:var(--yx_Color);
}
.p_categoryBox .p_linkBox.click .color_assist, .p_categoryBox .p_linkBox.click a{
  color:var(--yx_Color);
}
/*娴溠冩惂閸愬懘銆夐崚鍡欒娴滃瞼楠囬弽宄扮础*/
.yx_PageNav_Con{
  position:relative;
}
.yx_PageNav_Ej{
  position: absolute;
  width: 100%;
  height: auto;
  top: 80px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: all 0.6s ease;
}
.yx_PageNav_Con:hover .yx_PageNav_Ej{
  top:53px;
  opacity: 1;
  visibility: visible;
  transition:all 0.6s ease;
}
/*缂佹挻娼�*/
/*棣栭〉鎸夐挳*/
.yx_yrBtn{
  background:var(--yx_Grad);
  width:calc(var(--yx_FS60) * 3.6);
  height:var(--yx_FS54);
  display:flex;
  align-items:Center;
  justify-content:space-around;
  position:relative;
  box-shadow:0 0 var(--yx_FS54) rgba(0,149,156,0.4);
  transition:all 0.6s;
  overflow:hidden;
}
.yx_yrBtn:after{
  content:'';
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%) scale(1.1);
  border:2px solid var(--yx_Color);
  transition:all 0.6s;
}
.yx_yrBtn:before{
  content:'';
  display:block;
  width:120%;
  height:110%;
  background:rgba(0,0,0,0.1);
  position:absolute;
  left:-120%;
  top:-5%;
  transition:all 0.6s;
}
.yx_yrBtn span{
  font-size:14px;
  color:#fff;
  position:relative;
  z-index:2;
  transition:all 0.6s;
}
.yx_yrBtn em{
  display:block;
  width:var(--yx_FS24);
  height:var(--yx_FS24);
  border-radius:50%;
  border:1px solid #fff;
  position:relative;
  z-index:3;
  transition:all 0.6s;
}
.yx_yrBtn em:before{
  content:'';
  display:block;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#fff;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  transition:all 0.6s;
}
.yx_yrBtn em:after{
  content:'';
  display:block;
  width:var(--yx_FS45);
  height:1px;
  background:#fff;
  top:50%;
  right:12px;
  position:absolute;
  transform:translateY(-50%);
  transition:all 0.6s;
}
.yx_yrBtn:hover{
  padding-left:12px;
  box-shadow:0 0 10px rgba(45,92,161,0.6);
}
.yx_yrBtn:hover:before{
  left:0;
}
.yx_yrBtn:hover:after{
  transform:translate(-50%,-50%) scale(1);
}
.yx_yrBtn:hover em{
  width:var(--yx_FS18);
  height:var(--yx_FS18);
}
.yx_yrBtn:hover em:after{
  width:0px;
}
.yx_yrBtn:hover em:before{
  content:'';
  display:block;
  width:6px;
  height:6px;
}
@media only screen and (max-width:768px){
  .yx_yrBtn{
    margin:var(--yx_FS24) auto var(--yx_FS38) 0 !important;
  }
}

/*鍏充簬鎴戜滑*/
.yx_HSD_AboutImg{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:2;
  width:100%;
  background:rgba(0,0,0,0.4);
  height:100%;
  padding:7% 0;
  opacity:0;
  padding-top:80%;
  transition:all 0.6s ease;
}
.yx_HSD_AI_Tit{
  padding-bottom:50%;
}
.yx_HSD_AI_Tit div {
  font-size:var(--yx_FS36);
  font-weight:bold;
  color:#fff;
  letter-spacing: 2px;
}
.yx_HSD_AI_Tit p{
  font-size:var(--yx_FS30);
  color:#cccccc;
  line-height:200%;
  font-family:"Gotham SSm A","Gotham SSm B";
  font-weight:400;
}
/*缁撴潫*/
/*鍐呴〉鏍囬*/
.yx_HSD_HTit .yx_N_Tit{
  color:#fff !important;
}
.yx_HSD_NTit p{
  font-size:var(--yx_FS18);
}
/**/
/*棣栭〉鏍囬寮€濮�*/
.yx_HSD_HTit .yx_H_Tit{
  font-size:var(--yx_FS38);
  font-weight: bold;
  display: inline-block;
  color: var(--yx_Color);
  font-family:"Gotham SSm A","Gotham SSm B"  !important;
  position:relative;
}
.yx_HSD_HTit .yx_H_Tit span{
  position:relative;
  z-index:2;
  font-family:"Gotham SSm A","Gotham SSm B"  !important;
}
.yx_HSD_HTit .yx_H_Tit:before{
  content: '';
  display: block;
  width: var(--yx_FS38);
  height: var(--yx_FS38);
  border-radius: 50%;
  border: 5px solid rgba(0,0,0,0.6);
  position: absolute;
  right: -15%;
  opacity: 0.2;
  bottom: 20%;
}
.yx_HSD_HTit p{
  font-size:var(--yx_FS24);
  color:#cccccc;
  line-height:200%;
  font-family:"Gotham SSm A","Gotham SSm B";
  font-weight:400;
}
/*棣栭〉鏍囬缁撴潫*/
/*media*/
@media only screen and (max-width:1440px){
  :root {
    --yx_FS72: 54px;
    --yx_FS60: 48px;
    --yx_FS54: 42px;
    --yx_FS48: 36px;
    --yx_FS45: 42px;
    --yx_FS42: 38px;
    --yx_FS38: 30px;
    --yx_FS36: 28px;
    --yx_FS30: 26px;
    --yx_FS28: 24px;
    --yx_FS24: 22px;
    --yx_FS22: 18px;
    --yx_FS18: 16px;
    --yx_FS16: 14px;
  }
}
@media only screen and (max-width:1366px){
  :root {
    --yx_FS72: 42px;
    --yx_FS60: 45px;
    --yx_FS54: 42px;
    --yx_FS48: 32px;
    --yx_FS45: 38px;
    --yx_FS42: 36px;
    --yx_FS38: 28px;
    --yx_FS36: 26px;
    --yx_FS30: 24px;
    --yx_FS28: 22px;
    --yx_FS24: 20px;
    --yx_FS22: 16px;
    --yx_FS18:16px;
    --yx_FS16:14px;
    --yx_FS14:12px;
  }
}
@media only screen and (min-width:1025px) {
  .yx_List4 {
    display: block;
    width: calc((100% - (var(--yx_FS30)*3)) / 4) !important;
    margin-right: var(--yx_FS30) !important;
    margin-bottom: var(--yx_FS30) !important;
  }
  .yx_List4:nth-child(4n) {
    margin-right: 0 !important;
  }
  .yx_List3 {
    display: block;
    width: calc((100% - (var(--yx_FS48)*2)) / 3) !important;
    margin-right: var(--yx_FS48) !important;
    margin-bottom: var(--yx_FS48) !important;
  }
  .yx_List3:nth-child(3n) {
    margin-right: 0 !important;
  }
  .p_problemCategory{
 
  }
}
/*pad*/
@media only screen and (min-width:769px) and (max-width:1024px){
  .yx_List4 {
    display: block;
    width: calc((100% - (var(--yx_FS24)*2)) / 3) !important;
    margin-right: var(--yx_FS24) !important;
    margin-bottom: var(--yx_FS24) !important;
  }
  .yx_List4:nth-child(3n) {
    margin-right: 0 !important;
  }
  .yx_List3 {
    display: block;
    width: calc((100% - (var(--yx_FS30)*2)) / 3) !important;
    margin-right: var(--yx_FS30) !important;
    margin-bottom: var(--yx_FS30) !important;
  }
  .yx_List3:nth-child(3n) {
    margin-right: 0 !important;
  }
  .p_problemCategory{
    display:none ;
  }
}
/*phone*/
@media only screen and (max-width:768px) {
  .p_problemCategory{
    display:block ;
  }
  .p_problemCategory .btn-primary{
    margin:6px 0;
    background:var(--yx_Color);
    color:#fff;
    text-align:center;
    border-radius:0px;
    width:100%;
    border-color:var(--yx_Color);
  }
  .yx_PageNav_Box{
    display:none !important;
  }
  :root {
    --yx_FS72: 36px;
    --yx_FS60: 42px;
    --yx_FS54: 38px;
    --yx_FS48: 32px;
    --yx_FS30: 20px;
  }
  .yx_List3 {
    display: block;
    width: 100% !important;
    margin-right: 0px !important;
    margin-bottom: 18px !important;
  }
  .yx_List4 {
    display: block;
    width: calc((100% - 10px) / 2) !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
  }
  .yx_List4:nth-child(2n) {
    margin-right: 0 !important;
  }
}
/*end*/