.block_40658.block-editor-lead-container .column-container,
.block_40658.block-editor-lead-container .row-container {
  position: static;
}

[data-gjs-type="wrapper"] .block_40658.block-editor-lead-container .column-container,
[data-gjs-type="wrapper"] .block_40658.block-editor-lead-container .row-container {
  position: relative;
}


[data-gjs-type="wrapper"] .block_share_40658 .share_container_40658{
    position: fixed !important;
    width: 100vw;
    left: 0;
    top: var(--lea-header-bottom) !important;
    transform: translateY(-100%) !important;
}


[data-gjs-type="wrapper"] [data-gjs-type="leaddraggable"]{
    position: relative;
}

[data-gjs-type="wrapper"] .sortable-receiver.column-container >[data-gjs-type="default"]{
    position: relative;
}

.block_40658{
    box-shadow: 0px 4px 12px 0px #0000000D;
    z-index: 9;
    --left-width: 200px;
    --right-width: 240px;
    --nav-level0-depth1-lineHeight:2;
    --nav-top-height:210px;
    --header-model-width: 1440px;
}

.block_40658 .header_content {
    min-height: 78px;
    display: flex;
    justify-content: center;
}

.block_40658 .bulletin .lead-text{
    color: #ffffff;
    max-width: calc(var(--header-model-width) - 80px);
    width: 100%;
}




.block_40658 .bulletin{
    padding: 5px 40px;
    background-color: var(--ld-main1);
    text-align: center;
    display: flex;
    justify-content: center;
}

.block_40658 .navContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
}


.block_40658 .right_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-height: 78px;
}

.block_40658 .center_container{
    /* width: calc(100% - var(--left-width) - var(--right-width) ) */
    width: 100%;
}


.block_40658 .Box_img .lead-component-wrapper .lead-image-container {
    overflow: hidden;
}

.block_40658 .bulletin .lead-text p{
    display: block !important;
}


/* .block_40658 .header-search-mask {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
    background-color: #888a8f82;
    left: 0;
    margin-left: -1px;
    display: none;
    top: 0;
    bottom: initial;
} */


@media (min-width: 1200px) {
    .headerContainer .navContent {
        max-width: var(--header-model-width);
    }
}

@media (max-width: 1024px) {
    .block_40658 .bulletin .lead-text {
        margin: 0 !important;
    }
}

@media (min-width: 768px) {
    .block_40658 .header_content {
        position: relative;
    }
}

@media(max-width: 768px){
    .block_40658 .center_container{
        order: -1;
        width: auto;
        flex: 1;
    }
    .block_40658 .right_container{
        width: auto;
        flex: 1;
        justify-content: flex-end;
    }
    .block_40658 .navContent {
        padding-left: 20px;
        padding-right: 20px;
    }
    .block_40658 .bulletin {
        padding: 5px 20px;
        position: relative;
    }
    .block_40658 .bulletin .lead-text{
        font-size: 14px;
    }
    .block_40658 .left_container {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .block_40658 .lead-followComponent {
        justify-content: flex-start !important;
    }
    .block_40658 .lang-content .lang-menu-box {
        height: auto !important;
    }
    .block_40658 .nav_40054 {
        --nav-iphone-hover-color: #000;
    }
    .block_40658 .langbar_contaienr_template .block_langbar_39964 .lang-content .lang-menu-box {
        border-top: 1px solid #E9EDF7;
    }
    .block_40658 .langbar_contaienr_template .block_langbar_39964 .lang-content .lang-menu-box .lang-menu .lang-item-back.langNa {
        margin-left: 0
    }
}

[data-bulletinbackground].block_40658 .bulletin{
    position: relative;
    background-color: var(--bulletinbackground, #3C5369);
}

.headerFixedHover [data-bulletinbackground].block_40658 .bulletin{
    background-color: var(--bulletin-hover-background, #3C5369);
}

[data-navbackground].block_40658 .header_content{
    background-color: var(--navbackground,#ffffff);
}

[data-navHoverbackground].block_40658 .header_content{
    background-color:  var(--navbackground, var(--color-navbackground,#ffffff));
}

.headerFixedHover [data-navHoverbackground].block_40658 .header_content {
    background-color: var(--navHoverbackground, var(--color-navbackground,#ffffff));
}


[data-navbackground].block_40658 .share-container-inner,
[data-navbackground].block_40658 .header-search .header-search-form-container {
    background-color: var(--navbackground, #ffffff);
}

.block_40658 .lead-img {
    width: 100%;
    height: 100%; 
    margin-left: auto; 
    margin-top: auto;
}

/* 阿拉伯样式 */
.alaboyulanguage.block_40658 *{
    direction: initial !important;
    text-align: left;
}
.alaboyulanguage.block_40658 .navContent{
    direction: rtl !important;
}
.alaboyulanguage .nav_40054 .navAlign_row .lea-nav-menu--main .lea-navMenu-depth0{
    flex-direction: row-reverse;
}
.alaboyulanguage.block_40658 .bulletin .lead-text,.block_40658 .bulletin .lead-text *{
    direction: rtl !important;
}
.alaboyulanguage.block_40658 .search_39984 .header-search .header-search-form * {
    direction: rtl !important;
    text-align: right;
}
.alaboyulanguage .search_39984 .search-box .input-text{
    padding-right: 10px;
}

.block_40658 .phone_show{
    display: none;
}
@media (max-width: 768px) {
    .alaboyulanguage .nav_40054 .navAlign_row .lea-nav-menu--main .lea-navMenu-depth0 {
        flex-direction: column-reverse;
    }
    .alaboyulanguage .nav_40054 .navAlign_row .nav-iphone-menucontainer * {
        text-align: right;
    }
    .block_40658 .header_content{
        display: none;
    }

    .block_40658 .phone_show{
        display: block;
    }
}